*{
    box-sizing: border-box;
    word-break: break-all;
}


h1 {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: bold;
}

h3 {
    color: #000000;
    font-size: 23px;
    font-weight: bold;    
    margin-bottom: 27px;
}
h4 {
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}


.PerguntasAberto h3 {
    font-size: 20px;
    margin: 27px 0 0 0;
}

body {
    background: #E5E5E5;

}

header {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px #979595;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.Container{
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Invisivel {
    display: none;
}

.PerguntasBasicas {

    width: 600px;
    height: 256px;
    padding: 21px 20px 15px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 564px;
    height: 46px;
    color: #D1D1D1;
    margin-bottom: 9px;
    font-size: 19px;
    padding: 0 0 0 23px;
    border-color: #D1D1D1;
    background-color: #FFFFFF;
    border-style: solid;
    box-shadow: none;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
}

.PerguntasAberto input{
    margin: 14px 0 0 0;
}


.perguntasEniveis {

    padding: 132px 0 0 0;
}

.perguntasH3{
    margin-bottom: 36px;
}

.PerguntasAberto {
    width: 600px;
    height: 825px;
    background-color: #FFFFFF;
    padding: 0 20px 27px 16px;
    margin-bottom: 27px;
}

input.MarginTop24{
    margin-top: 24px;
}

input.MarginTop32{
    margin-top: 32px;
}

.PerguntasFechado{
    width: 600px;
    height: 74px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    padding: 27px 24px 24px 16px;
    display: flex;
    justify-content: space-between;
}

.PerguntasFechado ion-icon {
    font-size: 26px;
}

button.irParaPerguntas {
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    margin-top: 85px;
    margin-bottom: 25px;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
    border-color: #EC362D;
    border-style: solid;
    box-shadow: none;

}

.margin140 {
    margin-top: 140px;
}

.margin132 {
    margin-top: 140px;
}


.NiveisAberto {
    width: 600px;
    height: 316px;
    background-color: #FFFFFF;
    padding: 27px 20px 28px 16px;
    margin-bottom: 27px;
}


/*Inicio estilos da tela 1 exibição de quizz*/
.btnCriarQuiz{

    width: 150px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EC362D;
    margin: 20px auto;

}
.btnCriarQuiz:hover{
    transition: all linear 100ms;
    cursor: pointer;
    background-color: #EC362D;
    border: 1px dashed #FAFAFA;
    color: #FAFAFA;

}

.criarQuizz{
    width: 1051px;
    min-height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 130px 0 0 0;
}
.box-quizz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 5px;
    position: relative;
    width: 340px;
    
}
.box-quizz img {
    
    width: 340px;
    height: 181px;
    border-radius: 5px;
    object-fit: cover;
}
.box-quizz p {
    bottom: 0px;
    z-index: 2;
    position: absolute;
    width: 301px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    word-break: normal;
    overflow: hidden;
}

.gradiente{
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 180px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%)
}

.Quizz > div{
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
}

.meusquizz {
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
}


/*Fim estilos da tela 1 exibição de quizz*/

/*inicio estilos da tela 2 pagina do quizz quizz*/
.bannerQuizz{
    width: 100%;
    min-height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 73px;
    margin-bottom: 40px;
    
}
.imgBanner{
    width: 100%;
    height: 227px;
    object-fit: cover;
    
}
.opacidade{
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.tituloQuiz{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.sessaoPerguntaResposta{
    
    width: 759px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 40px;

}

.perguntaQuizz{

    width: 688px;
    height: 137px;
    background: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.containerAlternativas{
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    margin: 30px auto 0 auto;
    justify-content: center;

}
.alternativasPergutnas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;

}
.alternativasPergutnas > img{

    width: 329px;
    height: 175px;
    border-radius: 0px;
}

.alternativasPergutnas > p{
    overflow: hidden;
    width: 200px;
}

/*Fim estilos da tela 1 exibição de quizz*/

.Flex {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.seusmaisquizzes {
    display: flex;
    align-items: center;
}

.seusmaisquizzes h4 {
    margin: 0 17px 0 0;
}

.red{
    color: #EC362D;
    font-size: 31px;
}

.SeuquizzPronto {

    width: 500px;
    height: 266px;

}

.bottom48 {
    margin-bottom: 48px;
}

.ButtomSeuquizzPronto {
    width: 220px;
    height: 44px;
    background-color: #EC362D;
    margin-top: 45px;
    margin-bottom: 9px;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
    border-color: #EC362D;
    border-style: solid;
    box-shadow: none;
}

.ButtomSeuquizzProntoBranco {
    width: 220px;
    height: 44px;
    background: #FAFAFA;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 21px;
    color: #818181;
    border-color: #FAFAFA;
    border-style: solid;
    box-shadow: none;
}
